.menu-list {
  height: 286px;
  padding: 16px;
  border: 1px solid;
}

.menu-image {
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.menu-title {
  display: flex;
  flex-direction: column;
}

.menu-title > span:nth-child(1) {
  font-weight: 700;
  margin-bottom: 4px;
}

.menu-title > span:nth-child(2) {
  font-weight: 300;
  font-size: 12px;
  width: 104px;
}
